# DESAFIO KAGGLE. PREDICION DE SUPERVIVENCIA TITANIC DISASTER

In [1]:
#import librerias
import pandas as pd
import numpy as np

#import librerias machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#import data

df_test = pd.read_csv("data/test.csv")
df_train = pd.read_csv("data/train.csv")

## EDA DE LA DATA

In [3]:
#review df_test
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [5]:
#review df_train
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
#Verificacion de cantidad de datos
print("Cantidad de datos: ")
print(df_train.shape)
print(df_test.shape)

Cantidad de datos:
(891, 12)
(418, 11)

In [8]:
#verificacion de datos nulos o faltantes en los dataset
print("Datos faltantes: ")
print("Set de datos train", pd.isnull(df_train).sum())
print("Set de datos test",pd.isnull(df_test).sum())

Datos faltantes:
Set de datos train PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Set de datos test PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
#verificacion de las estadisticas del dataset
print("Estadisticas del dataset: ")
print(df_train.describe())
print(df_test.describe())

Estadisticas del dataset:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

## PREPROSAMIENTO DE LA DATA

In [10]:
# Cambio los datos de sexo en numeros
df_train['Sex'].replace(['female','male'], [0,1], inplace=True)
df_test['Sex'].replace(['female','male'], [0,1], inplace=True)

In [11]:
# Cambio los datos de embarque en numeros
df_train['Embarked'].replace(['Q','S','C'], [0,1,2], inplace=True)
df_test['Embarked'].replace(['Q','S','C'], [0,1,2], inplace=True)

In [12]:
# Reemplazo los datos faltantes en la edad por la media de esta columna
prom_age_train = int(df_train["Age"].mean())
prom_age_test = int(df_test["Age"].mean())
print("El promedio de edad en el dataset train es:", prom_age_train)
print("El promedio de edad en el dataset test es:", prom_age_test)
df_train['Age'] = df_train['Age'].replace(np.nan, prom_age_train)
df_test['Age'] = df_test['Age'].replace(np.nan, prom_age_test)

El promedio de edad en el dataset train es: 29
El promedio de edad en el dataset test es: 30

In [13]:
# Creo varios grupos de acuerdo a bandas de edades
# Bandas: 0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 61-100
bins = [0, 8, 15, 18, 25, 40, 60, 100]
#names = ['1', '2', '3', '4', '5', '6', '7']
names = [1,2,3,4,5,6,7]
df_train['Age'] = pd.cut(df_train['Age'], bins, labels= names)
df_test['Age'] = pd.cut(df_test['Age'], bins, labels= names)

In [14]:
# Se elimina columna de "Cabin" ya que tiene muchos datos perdidos.
df_train.drop(['Cabin'], axis = 1, inplace=True)
df_test.drop(['Cabin'], axis = 1, inplace=True)

In [15]:
# Elimino columnas que no considero relevantes al analisis
df_train = df_train.drop(['PassengerId','Name','Ticket'], axis = 1)
df_test = df_test.drop(['Name','Ticket'], axis = 1)

In [16]:
# Se elimina las filas con los datos perdidos
df_train.dropna(axis=0, how='any', inplace=True)
df_test.dropna(axis=0, how='any', inplace=True)

In [17]:
# Verifico los datos
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

print(df_train.shape)
print(df_test.shape)

print(df_train.head())
print(df_test.head())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
(889, 8)
(417, 8)
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0
   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1

## APLICACION DE ALGORTIMOS DE MACHINE LEARNING

In [18]:
df_train.head()

   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

In [19]:
# Separo la columna con la informacion de los sobrevivientes
X = df_train.drop(['Survived'], axis=1)
y = df_train['Survived']

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    889 non-null    int64
 1   Sex       889 non-null    int64
 2   Age       889 non-null    category
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Fare      889 non-null    float64
 6   Embarked  889 non-null    float64
dtypes: category(1), float64(2), int64(4)
memory usage: 49.8 KB

In [21]:
# Separo las datos de "train" en entramiento y prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
# Regresion logistica
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
print("Presicion Regresion Logistica: ")
print(logreg.score(X_train, y_train))

Presicion Regresion Logistica:
0.8129395218002813

In [25]:
# Support Vector Machines
svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
print("Presicion Soporte de Vectores: ")
print(svc.score(X_train, y_train))

Presicion Soporte de Vectores:
0.6976090014064698

In [26]:
# K Neighbors
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
print("Presicion Vecinos mas cercanos: ")
print(knn.score(X_train, y_train))

Presicion Vecinos mas cercanos:
0.8593530239099859

## PREDICCION UTILIZANDO LOS MODELOS

In [27]:
ids = df_test['PassengerId']

In [29]:
# Regresión logistica
ids = df_test['PassengerId']
prediccion_logreg = logreg.predict(df_test.drop('PassengerId', axis=1))
out_logreg = pd.DataFrame({'PassengerId':ids, 'Survived':prediccion_logreg})
print('Prediccion Regresion Logistica: ')
print(out_logreg.head())

Prediccion Regresion Logistica:
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [30]:
# Support Vector Machines
prediccion_svc = svc.predict(df_test.drop('PassengerId', axis=1))
out_svc = pd.DataFrame({'PassengerId':ids, 'Survived':prediccion_svc})
print('Prediccion Soporte de Vectores: ')
print(out_svc.head())

Prediccion Soporte de Vectores:
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [31]:
# K neighbors
prediccion_knn = knn.predict(df_test.drop('PassengerId', axis=1))
out_knn = pd.DataFrame({'PassengerId':ids, 'Survived':prediccion_knn})
print('Prediccion K Neighbors: ')
print(out_knn.head())

Prediccion K Neighbors:
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1